# Old module
spacetraders/

# SUPER SECRET STUFF
spt/ext/
server_test.py
server.py

# Virtualenv
Lib/
Scripts/
pyenv.cfg

# VSCode / Pycharm
.vscode/
.idea/

# Python
__pycache__/

# Documentation
# Will be written at a later date
docs/

# Logs, tests, and various things
spacetraders.log
dump.json
test.py


# Not sure what this is?
Include/